{% if post.previous-sibling == false %}
<div class="post flickr">
  <a href="http://instagram.com"><img class="icon" src="https://twimg0-a.akamaihd.net/profile_images/1550954462/instagramIcon.png" /></a>
  <div class="content">
{% endif %}
    <a href="{{ post.link }}" class="tn{% if post.next-sibling %} has-next-sibling{% endif %}{% if post.previous-sibling %} has-previous-sibling{% endif %}"">
      <img src="{{ post.thumbnail }}" />
    </a>
{% if post.next-sibling == false %}
  </div>
  <div class="clear"></div>
  </div>
{% endif %}
