<ul>
  <li>
    <strong><a href="http://multiplayerchess.com">MultiplayerChess.com</a></strong> 
    ―
    An online chess application distributed under <a href="http://github.com/azer/multiplayerchess.com">WTF Public License</a>.
  </li>
  <li>
    <strong><a href="http://github.com/azer/functools">functools</a></strong> 
    ―
    A JavaScript Library for Functional Programming
  </li>
  <li>
    <strong><a href="http://github.com/azer/onejs">OneJS</a></strong>
    ―
     A CLI tool to convert any
    CommonJS package to a single, stand-alone JavaScript file.
  </li>
  <li>
    <strong><a href="http://github.com/azer/node-virtualbox">node-virtualbox</a></strong>
    ―
    A JavaScript library for interacting with VirtualBox.
  </li>
  <li>
    <strong><a href="http://github.com/azer/lowkick">LowKick</a></strong>
    ―
    A CLI tool that simplifies running JavaScript tests on varied platforms.
  </li>
  <li>
    <strong><a href="http://github.com/azer/highkick">HighKick</a></strong> 
    ―
    asynchronous, no-style, super simple testing tool for nodejs
  </li>
  <li>
    <strong><a href="http://github.com/azer/delicious-surf">Delicious Surf</a></strong>
    ―
    A fork of <a
    href="http://surf.suckless.org">Suckless' Surf</a> web browser. Makes
    easier to access and organize the bookmarks on del.icio.us
  </li>
  <li>
    <strong><a href="http://github.com/azer/.w3">.w3</a></strong>
    ―
    Hack the web by writing dot files
  </li>
  <li>
    <strong><a href="http://github.com/azer/boxcars">boxcars</a></strong> 
    ―
    a zero-dependency JavaScript library for fetching remote or local resources.
  </li>
  <li>
    <strong><a href="http://github.com/azer/stonetunnel">stonetunnel</a></strong> 
    ―
    A JavaScript Library to Simplify LRU Caching.
  </li>
  <li>
    <strong><a href="http://github.com/azer/environ">environ</a></strong> 
    ―
    Cross-platform environment detection library for JavaScript
  </li>
  <li>
    <strong><a href="http://github.com/azer/relative-date">relative-date</a></strong>
    ―
    A JavaScript module for outputting relative dates.
  </li>
  <li>
    <strong><a href="http://github.com/azer/combiner">combiner</a></strong>
    ―
    CLI and NodeJS library for merging and processing files.
  </li>
  <li>
    <strong><a href="http://github.com/azer/dasornis">Dasornis</a></strong>
    ―
    A Python Web Framework. Not anymore maintained.
  </li>
  <li>
    <strong><a href="http://devio.us/~azer/rainbow9">rainbow9</a></strong>
    ―
    A Web Based IDE that I developed on April 2007.
  </li>
</ul>
